receivers:
  otlp:
    protocols:
      http:
      grpc:

exporters:
  logging:
    loglevel: warn
  otlp/jaeger:
    endpoint: jaeger:4317
    tls:
      insecure: true

service:
  pipelines:
    traces:
      receivers: [otlp]
      exporters: [logging, otlp/jaeger]
    metrics:
      receivers: [otlp]
      exporters: [logging]
