receivers:
  otlp:
    protocols:
      http:
      grpc:
exporters:
  logging:
    loglevel: warn
  jaeger:
    endpoint: jaeger:14250
    tls:
      insecure: true
service:
  pipelines:
    traces:
      receivers: [otlp]
      exporters: [logging, jaeger]
    metrics:
      receivers: [otlp]
      exporters: [logging]
